@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #571C46;
}

.container {
    width: 600px;
    border-radius: 30px;
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: #571C46;
    box-shadow: 1px 2px 10px white;
}

.exitContainer {
    inherits: width;
    height: 50px;
    display: flex;
    justify-content: right;
}

.exitButton {
    width: 50px;
    height: 50px;

}

.menu {
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    background-image: url("resources/images/jamesbrownposter1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 10px white;
    height: 700px;
    text-align: center;
}


input {
    height: 50px;
    width: 24%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 12px;
    background-color: red;
}

input::placeholder {
    color: #000;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 30px;
    width: inherit;
}

.header-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 30px;
    width: inherit;
    color: #FC7F3E;

}

#myList {
    background-color: #B8F1FE;
    border: none;
    height: 50px;
    width: 24%;
    border-radius: 10px;
    box-shadow: 2px 2px #95bff0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

#myList:hover,
input:hover {
    background-color: #FFB64F;
}

/* .header:hover{
    height: 150px;
    background-color: blue;
    transition: 1s ease-in;
} */

#start {
    padding: 16px;
    background-color: green;
    height: 50px;
    width: 24%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#start:hover {
    background-color: rgb(12, 183, 12);
}

#goBack {
    padding: 16px;
    background-color: #FE3400;
    height: 50px;
    width: 24%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#goBack:hover {
    background-color: #CC3201;
}

.theme {
    font-family: 'Nunito Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: bold;
}

.query {
    color: #FFC20A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 100px;
    font-size: 20px;
}

.content {
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: #571C46;
    border-radius: 10px;
}

ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.list {
    width: 600px;
}

li {
    font-size: 13px;
    list-style: none;
    margin-top: 33px;
    background-color: rgb(253, 252, 252);
    width: 270px;
    height: 60px;
    border-radius: 20px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;
    color: #F15839;
}

li:hover,
.button:hover {
    height: 60px;
    background-color: rgba(68, 230, 68, 0.8);
    color: #ffffff;

    box-shadow: 1px 2px 10px white;
}

.container .scoreContainer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.score {
    color: #25252b;
    border-radius: 20px;
    margin-right: 10px;
    padding: 13px;
    background-color: #FFC20A;
    text-align: center;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    font-weight: 400;
}

.show {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #FFB64F;
    width: 600px;
    height: 400px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
}

.show .center button {
    margin-top: 10px;
    font-size: 10px;
    background-color: green;
    height: 50px;
    width: 200px;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.show .center button:hover {
    background-color: rgb(12, 183, 12);
}

.footer {
    display: flex;
    justify-content: center;
    height: 50px;

}

.button {
    width: 80px;
}

.card {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.balon {
    position: absolute;
    top: 860px;
    width: 10px;
    height: 10px;
    background-color: #3b3b44;
    animation: animate 1.5s infinite;
}

@keyframes animate {
    0% {
        top: 860px
    }

    100% {
        top: 300px
    }
}

.card {
    position: relative;
    width: 300px;
    height: 300px;

}

.card span {

    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("resources/images/mark.png");
    background-size: 100px;
    background-repeat: no-repeat;
    animation: animate 4s linear infinite;
}

@keyframes animate {

    /* 0%,10%
    {
        scale: 1;
        rotate: 0deg;
        translate: 0 0;
        transform-origin: center;
    } */
    /* 20%,30%
    {
        scale: 0,5;
        rotate: 360deg;
        translate: 1500px 0;
        transform-origin: 1000px;;
    } */
    40% {
        scale: 0, 5;
        rotate: 360deg;
        translate: 1500px 0;
        transform-origin: 10px;
    }

    70% {
        scale: 0, 5;
        rotate: 720deg;
        translate: -1500px 0;
        transform-origin: -10px;
    }

}

@media screen and (max-width: 1000px) {
    .menu {
        width: 100vw;
    }
}

@media (max-width: 999px) and (min-width: 550px) {
    .container {
        width: 100vw;
    }

    .menu {
        width: 100%;
    }

    li {
        width: 300px;
    }

    .header-menu {
        font-size: 20px;
    }

    #start {
        font-size: 15px;
        padding: 15px;
    }

    #goBack {
        font-size: 15px;
        padding: 15px;
    }
}


@media (max-width: 549px) and (min-width: 200px) {
    .container {
        width: 100vw;
    }

    .menu {
        width: 100%;
    }

    li {
        width: 300px;
    }

    .header-menu {
        font-size: 20px;
    }

    #start {
        font-size: 14px;
        padding: 15px;
    }

    #goBack {
        font-size: 14px;
        padding: 15px;
    }
}